<div class="sidebar-container">
  <mat-toolbar color="primary" class="sidebar-toolbar">
    <div>
      <!-- <app-dashboarddata></app-dashboarddata>  -->
     
    </div>
    <button mat-icon-button (click)="snav.toggle()">

      Tog
    </button>
   
  </mat-toolbar>
  <mat-sidenav-container class="sidebar-sidenav-container">
    <mat-sidenav #snav mode="side" fixedTopGap="56" opened="true">
      
      <mat-nav-list>
         <mat-list-item >
          
           Test
         </mat-list-item>
         <mat-list-item  >
          
         Test
       </mat-list-item>
       <mat-list-item >
        
        <span>File Uplode</span>
     
     </mat-list-item>
     <mat-list-item routerLink="threetab">
    Test
     
   </mat-list-item>
     <mat-list-item >
    
      <span>Test</span>
   </mat-list-item>
   <mat-list-item >
    Test
 </mat-list-item>









        

       
      </mat-nav-list> 
      
      <!-- <app-side-navbar></app-side-navbar> -->
    </mat-sidenav>
    <mat-sidenav-content class="router-container">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- <router-outlet></router-outlet> -->